:root {
  --fonts: Arial, Helvetica, sans-serif;
  --labelColor: #e9ecef;
}

.containerVerifyAsistents {
  padding: 20px 147px 0;
}

.verifyAsistents {
  display: flex;
  flex-direction: column;
  border: 2px solid #00000071;
  font-size: 13px;
  padding: 20px;
  border-radius: 8px;
}

.showGeneralInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 220px;
  margin-top: -40px;
}

.tableMembersContainer {
  padding: 28px 49px;
  position: relative;
  left: 49px;
  justify-content: center;
  width: 1181px;
}

.tabContainer {
  padding: 28px 49px;
  position: relative;
  left: 0px;
  justify-content: center;
}

.relativeTableContainer {
  position: relative;
  right: 43px;
}

.errorMessage {
  font-size: 11px;
  color: red;
  font-weight: bold;
}

.entryIdTxtFullName label {
  font-size: 12px;
  font-weight: bold;
  /* 
  color: #666666; */
  margin-bottom: 5px;
  width: 137px;
  border: 1px solid grey;
  padding: 8px;
  border-radius: 4px 0px 0px 4px;
  background-color: var(--labelColor);
  height: 24.8px;
  display: flex;
  align-items: center;
}

.entryIdTxtFullName {
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  width: 800px;
}

.inputDataIdTxtFullName {
  width: 52%;
  border-left: none;
  font-family: var(--fonts);
  border: 1px solid gray;
  border-radius: 0px 4px 4px 0px;
  height: 39px;
  padding-left: 7px;
  padding-right: 7px;
}

.entryIdTxtAddress label {
  font-size: 12px;
  font-weight: bold;
  /* 
  color: #666666; */
  margin-bottom: 5px;
  width: 137px;
  border: 1px solid grey;
  padding: 8px;
  border-radius: 4px 0px 0px 4px;
  background-color: var(--labelColor);
  height: 24.8px;
  display: flex;
  align-items: center;
}

.entryIdTxtAddress {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  width: 800px;
  margin-top: 5px;
}

.inputDataIdTxtAddress {
  width: 52%;
  border-left: none;
  font-family: var(--fonts);
  border: 1px solid gray;
  border-radius: 0px 4px 4px 0px;
  height: 39px;
  margin-top: -47.5px;
  margin-left: 155px;
  padding-left: 7px;
  padding-right: 7px;
}

.entryIdTxtPhone label {
  font-size: 12px;
  font-weight: bold;
  /* 
  color: #666666; */
  margin-bottom: 5px;
  width: 137px;
  border: 1px solid grey;
  padding: 8px;
  border-radius: 4px 0px 0px 4px;
  background-color: var(--labelColor);
  height: 24.8px;
  display: flex;
  align-items: center;
}

.entryIdTxtPhone {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  width: 800px;
  margin-top: 5px;
}

.inputDataIdTxtPhone {
  width: 52.7%;
  border-left: none;
  font-family: var(--fonts);
  border: 1px solid gray;
  border-radius: 0px 4px 4px 0px;
  height: 39px;
  margin-top: -47.5px;
  margin-left: 155px;
  padding-left: 7px;
}

.inputDataIdTxtEmail {
  width: 52.7%;
  border-left: none;
  font-family: var(--fonts);
  border: 1px solid gray;
  border-radius: 0px 4px 4px 0px;
  height: 39px;
  margin-top: -47.5px;
  margin-left: 155px;
  padding-left: 7px;
}

.entryIdBirthDate {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  width: 800px;
  margin-top: 5px;
}

.inputDataIdTxtBirthDate {
  width: 53%;
  border-left: none;
  font-family: var(--fonts);
  border: 1px solid gray;
  border-radius: 0px 4px 4px 0px;
  height: 41px;
  margin-top: -47.5px;
  margin-left: 155px;
  padding-left: 7px;
}

.inputDataIdTxtHousingType {
  width: 54%;
  border-left: none;
  font-family: var(--fonts);
  border: 1px solid gray;
  border-radius: 0px 4px 4px 0px;
  height: 43px;
  margin-top: -47.5px;
  margin-left: 155px;
  padding-left: 7px;
}

.inputDataIdTxtYearsChurch {
  width: 52.7%;
  border-left: none;
  font-family: Arial, Helvetica, sans-serif !important;
  border: 1px solid gray;
  border-radius: 0px 4px 4px 0px;
  height: 39px;
  margin-top: -47.4px;
  margin-left: 155px;
  padding-left: 7px;
}

.inputDataIdTxtYears {
  width: 52.7%;
  border-left: none;
  font-family: var(--fonts);
  border: 1px solid gray;
  border-radius: 0px 4px 4px 0px;
  height: 39px;
  margin-top: -47.4px;
  margin-left: 155px;
  padding-left: 7px;
}

.inputDataIdTxtMaritalStatus {
  width: 53.7%;
  border-left: none;
  font-family: var(--fonts);
  border: 1px solid gray;
  border-radius: 0px 4px 4px 0px;
  height: 42.5px;
  margin-top: -47.2px;
  margin-left: 155px;
  padding-left: 7px;
}

.inputDataIdTxtEducationLevel {
  width: 53.7%;
  border-left: none;
  font-family: Arial, Helvetica, sans-serif !important;
  border: 1px solid gray;
  border-radius: 0px 4px 4px 0px;
  height: 42.5px;
  margin-top: -47.2px;
  margin-left: 155px;
  padding-left: 7px;
}

.inputDataIdTxtOccupation {
  width: 53.7%;
  border-left: none;
  font-family: Arial, Helvetica, sans-serif !important;
  border: 1px solid gray;
  border-radius: 0px 4px 4px 0px;
  height: 42.5px;
  margin-top: -47.2px;
  margin-left: 155px;
  padding-left: 7px;
}

.inputDataIdSwitch {
  margin-left: 157px;
  margin-top: -45px;
}

.tableRelatives {
  border: 1px solid #00000071;
  width: 1260px;
}

.tableRelatives thead tr th {
  width: 25%;
  text-align: center;
  background: #000000ba;
  color: white;
  font-size: 12px;
  font-weight: bold;
}

.tableRelatives thead tr th p {
  margin: 5px;
}

.tableRelatives tbody td {
  text-align: center;
}

.tableVerifyAsistents {
  border: 1px solid #00000071;
  width: 1037px;
  position: relative;
}

.tableVerifyAsistents thead tr th {
  width: 25%;
  text-align: center;
  background: #000000ba;
  color: white;
  font-size: 12px;
  font-weight: bold;
}

.buttonContainer {
  display: flex;
  justify-content: flex-start;
  width: 735px;
  margin-left: 48px;
}

.buttonClass {
  font-size: 15px;
  font-family: var(--fonts);
  color: white;
  width: 130px;
  height: 40px;
  background-color: #1976d2;
  border-radius: 4px;
  cursor: pointer;
}

.buttonClass:hover {
  background-color: #0b4e92;
}

.tableVerifyAsistents thead tr th p {
  margin: 5px;
}

.tableVerifyAsistents tbody td {
  text-align: center;
}

tbody tr {
  width: 100%;
  background: #e9ecef;
}

.summaryContainer {
  padding: 7px 0px 10px 0px;
}

.summaryContainer div {
  display: flex;
  justify-content: space-between;
}

.summaryContainer span {
  padding: 14px 0px 0px;
}

.tableContainer {
  max-height: 700px;
  overflow-y: scroll;
  max-width: 1150px;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 5px;
}

.detailTable {
  border: 1px solid #00000071;
  border-radius: 5px;
  width: 100%;
}

.detailTable thead tr th {
  font-weight: 500;
  text-align: left;
  background-color: #fafafa;
}

.detailTable thead tr th p {
  margin: 3px 0px 3px 0px;
}

.detailTable tbody tr {
  width: 100%;
}

.buttons {
  margin: 5px 0px;
}

.modalContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #fff;
  border: 1px solid #000;
  box-shadow: 24px;
  padding: 32px;
  width: 40%;
}

.modalTitle {
  margin-bottom: 10px;
  font-weight: 700;
}

.fieldsContainer {
  position: relative;
  top: 15px;
  display: flex;
  flex-direction: column;
}

.labelFieldContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.labelFieldModal {
  display: flex;
  align-items: center;
  width: 620px;
  justify-content: space-evenly;
  margin: 7px 0px;
}

.labelField {
  display: flex;
  flex-direction: column;
  width: 170px;
}

.ToggleContainer {
  border: none;
  width: 70%;
  height: 39px;
  display: flex;
  padding: 0 5px;
}

.toggle {
  width: 60px;
}

.inputField {
  border: 1px solid;
  width: 70%;
  border-radius: 4px;
  height: 39px;
  display: flex;
  padding: 0 5px;
}

.Select {
  border: 1px solid;
  width: 72%;
  border-radius: 4px;
  height: 39px;
  display: flex;
  padding: 0 5px;
}


.modalButtonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.modalButtons {
  display: flex;
  position: relative;
  margin: 10px;
  width: 90px;
  justify-content: center;
  border-radius: 5px;
  padding: 7px;
  background-color: white;
}

.createNewRelativeContainer {
  display: flex;
  position: relative;
  margin: 10px;
  justify-content: left;
  left: 1155px;
}

.createNewContainer {
  display: flex;
  position: relative;
  margin: 10px;
  justify-content: left;
  left: 918px;
}

.createNewMemberContainer {
  display: flex;
  position: relative;
  margin: 10px;
  justify-content: left;
  left: 617px;
}

.searchContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.createNewButton {
  border-radius: 5px;
  width: 120px;
  justify-content: center;
}

.backToList {
  cursor: pointer;
  background: #000000ba;
  padding: 7px;
  border-radius: 10px;
  color: white;
  font-size: 13px;
  font-weight: bold;
}

@media (max-width: 480px) {
  .containerVerifyAsistents {
    padding: 8% 10px 0;
  }

  .verifyAsistents {
    padding: 20px 8px 13px 7px;
  }

  .modalContainer {
    width: 290px;
    padding: 28px;
  }

  .detailModalContainer {
    width: 320px;
    padding: 20px;
  }

  .summaryContainer span {
    font-size: 13px;
  }

  .tableContainer {
    font-size: 14px;
    max-height: 255px;
  }

  .detailTable tbody tr td {
    padding: 5px;
  }

  .search input,
  select {
    width: 47%;
    height: 18px;
  }

  .summaryContainer {
    padding: 5px 0px 25px;
  }

  .search select {
    height: 22px;
  }
}