:root {
  --fonts: Arial, Helvetica, sans-serif;
  --labelColor: #e9ecef;
}

.mainContainer {
  padding: 40px;

  .infoContainer {
    display: inline-block;
  }

  .createNewMemberContainer {
    display: inline-block;
    position: absolute;
    right: 182px;
    top: 126px;
  }

  .tableContainer {
    display: flex;
    max-height: 500px;
    overflow-y: scroll;
    min-width: 1240px;
    max-width: 1450px;
    overflow-x: scroll;
    font-size: 14px;
  }

  .tabDetailsContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: space-between;
  }

  .tabs {
    background: #1c1a1a;
    color: white;
  }

  .infoGeneralContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: space-between;
    width: 600px;
    position: relative;
    left: 448px;
    background: linear-gradient(to right, #151515, #2b2c2d);
    border-radius: 10px;
    padding: 20px;
    overflow-y: auto;
    max-height: 500px;
  }

  .relativesContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: space-between;
  }

  .createNewRelativesContainer {
    display: inline-block;
    position: absolute;
    right: 182px;
    top: 126px;
  }

  .input {
    border: 1px solid grey;
  }
}

.modalContainer {
  display: flex;
  position: relative;
  top: 125px;
  width: 600px;
  left: 500px;
  background: linear-gradient(to right, #151515, #2b2c2d);
  border-radius: 10px;
  color: white;
  overflow-y: auto;
  max-height: 500px;

  .formContainer {
    width: 100%;
    height: 100%;
    padding: 20px;
  }

  .buttons {
    display: flex;
    width: 100%;
  }
}

.selectors {
  height: auto;
  width: auto;
}

.selectorsInfoGeneral {
  height: auto;
  width: 100px;
}

.table {
  border: 1px solid #999595;
  border-spacing: 0;
  border-collapse: separate;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #494040;

  tr th:first-child {
    border-top-left-radius: 10px;
  }

  tr th:last-child {
    border-top-right-radius: 10px;
  }

  tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
  }

  tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
  }

  th {
    border-bottom: 1px solid #999595;
  }

  td {
    border-bottom: 1px solid #999595;
  }
  thead {
    position: sticky;
    top: 0;
    background-color: lightgray; /* Opcional: para destacar el header */
    /* Estilos adicionales para el header */
  }
}