.familyGroupFormContainer {
    display: flex;
    position: relative;
    top: 125px;
    width: 500px;
    left: 500px;
    background: linear-gradient(to right, #151515, #2b2c2d);
    border-radius: 10px;
    color:white;
    overflow-y: auto;
    max-height: 500px;
    align-items: flex-start;

    .form {
        width: 100%;
        height: 100%;
        padding: 20px;
    }

    .buttons{
        display: flex;
    }
    .errorMessage{
        color: red;
        text-align: left;
    }
}