.containerHome {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 50px;
}

.mainContainer{
  display: flex;
  flex-direction: column;
}

.selectChurchButton {
  width: 180px;
  height: 40px;
  margin: 20px 0px 0px 52px;
  border-radius: 8px;
  border: 1px;
  font-size: 16px;
  color: #fff;
  background: #454545;
  text-align: center;
  padding: 12px 0px 17px;
  text-decoration: none;
  cursor: pointer;
}

.selectChurchButton:hover{
  background-color: #fff;
  color: #454545;
  font-weight: bold;
}

.containerCard {
  background: #323232;
  box-shadow: 12.2518px 24.1017px 16.4993px -7.32006px #0006;
  border: 1px solid #454545;
  border-radius: 8px;
  color: #f1f1f1;
  width: 177px;
  height: 165px;
  padding: 15px 17px 17px;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  align-items: center;
  margin: 15px;

  transition: 0.5s all;
}

.containerCard:hover {
  transform: scale(1.1);
  transition: 0.5s all;
}

.productCardDivider {
  height: 0.7px;
  width: 165px;
  background: linear-gradient(45deg, transparent, #f1f1f1, transparent);
  margin: 10px auto 8px;
}

.text {
  text-align: center;
}

.modalContent{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #fff;
  border: 2px solid #000;
  box-shadow: 24px;
  padding: 32px;
}

@media (max-width: 480px) {
  .modalContent{
    width: 290px;
    padding: 28px;
  }
  .selectChurchButton{
   width: 177px;
   margin: 20px 0px 0px 35px;
  }
}