.containerNavBar {
  display: flex;
  align-items: center;
  background: linear-gradient(89.17deg, #1a1a1a 12.64%, #454545 173.99%);
  height: 55px;
  position: fixed;
  width: 100%;
  z-index: 2;
  top: 0;
  color: #F1F1F1;
}

.textLink {
  color: inherit;
  text-decoration: inherit;
}

.containerNavBarMobile {
  display: none;
}

.containerNavBarDesktop {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-inline: 16px;
}

@media only screen and (max-width: 375px) {
  .navButton {
    font-size: 13px !important;
  }
}

@media (max-width: 1024px) {
  .containerNavBarMobile {
    display: flex;
    padding-inline: 16px;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }

  .containerNavBarDesktop {
    display: none;
  }
}