.MainContainer {
  display: block;
  padding: 25px;

  .createNewContainer {
    display: inline-block;
    position: absolute;
    /* margin: 10px; */
    justify-content: left;
    right: 180px;
    top: 170px;
    cursor: pointer;
  }

  .detailsFamilyGroupContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    left: 290px;
    margin-bottom: 20px;
  }

  .tabDetailsContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: space-between;
  }

  .tabs {
    background: #1c1a1a;
    color: white;
  }
}

.table {
  border: 1px solid #999595;
  border-spacing: 0;
  border-collapse: separate;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #494040;

  tr th:first-child {
    border-top-left-radius: 10px;
  }

  tr th:last-child {
    border-top-right-radius: 10px;
  }

  tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
  }

  tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
  }

  th {
    border-bottom: 1px solid #999595;
  }

  td {
    border-bottom: 1px solid #999595;
  }
  thead {
    position: sticky;
    top: 0;
    background-color: lightgray; /* Opcional: para destacar el header */
    /* Estilos adicionales para el header */
  }
}